<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="templates/mailserver-config.css">
<title>Admin</title>
</head>
<form method="POST" action="index.php">
<p><h1>Passwort Ändern</h1></p>
<table>
	<tr>
		<td>Neues Passwort:</td> 
		<td><input name="newpassword1" type=password></td>
	</tr>
	<tr>
		<td>Neuse Passwort:</td>
		<td><input name="newpassword2" type=password></td>
	</tr>
	<tr>
		<td><input type=submit name=changepassword value="Senden"></td>
	</tr>
</table>
<p><h1>Neues Emailkonto</h1></p>
<table>
	<tr>
		<td>Email:</td>
		<td><input name="newemail"></td>
	</tr>
	<tr>
		<td>Passwort:</td>
		<td><input name="newuserpassword" type=password></td>
	</tr>
	<tr>
		<td><input type=submit name=newuser value="Eintragen"></td>
	</tr>
</table>
<p><h1>Bestehendes Kontopasswort ändern</h1></p>
<table>
	<tr>
		<td>Email:</td>
		<td><input name="changemail"></td>
	</tr>
	<tr>
		<td>Passwort:</td>
		<td><input name="changepassword1" type=password></td>
	</tr>
	<tr>
		<td>Passwort:</td>
		<td><input name="changepassword2" type=password></td>
	</tr>
	<tr>
		<td><input type=submit name=changeolduser value="aendern"></td>
	</tr>
</table>
</table>
<p><h1>Neue Domäne anlegen</h1></p>
<table>
	<tr>
		<td>Domäne:</td>
		<td><input name="domain"></td>
	</tr>
	<tr>
		<td><input type=submit name=newdomain value="anlegen"></td>
	</tr>
</table>
<table>
	<tr>
		<td> <br> </td>
	</tr>
	<tr>
		<td><input type=submit name=logout value="Abmelden"></td>
	</tr>		
</table>
<table>
<tr>
	<td><?php echo $info  ?></td>
</tr>
</table>
</form>