<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="control.js"></script>
    <link rel="stylesheet" type="text/css" href="templates/normalize.css">
    <link rel="stylesheet" type="text/css" href="templates/skeleton.css">
    <link rel="stylesheet" type="text/css" href="templates/style.css">
    <title>Login</title>
</head>
<body>
    <div id="main" class="wrapper wrapper-red"></div>
            <form class="container" method="POST" action="index.php">
                <div class="row">    
                    <div class="login one-third-column">
                            Emailadresse:&thinsp;<input  type="email" name="email" id="email">
                            <br>Passwort:&emsp;&emsp;<input  name="password" type=password id="password">
                            <br><input class="button-primary login-button" type=submit name=submit d=login value="Einloggen">
                    </div>
                        <div id="info">
                            <?php echo $info  ?>
                    </div>
                </div>
            </form>
    

</body>