@CHARSET "ISO-8859-1";
h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 200%; }
p {
	font-family: Verdana, Geneva, sans-serif;
	color: #666;
}
info {
	font-family: "Courier New", Courier, monospace;
	font-size: 200%;
	color: #444;
}

div {
border: 1px solid grey;
margin: 5px;
padding: 10px;
}